input[type=text] {
	width: 600px;
	padding: 12px 16px;
	margin: 2px;
	font-size: 16px;
	border: 0.5px solid #d9d9d9;
	border-radius: 1px;
	outline: none;
	background-image: url('voice.png');
	background-position: 96%;
	background-repeat: no-repeat;
	background-size: 13px;
}

#search {
	text-align: center;
}

#logo {
	text-align: center;
	padding-bottom: 30px;
}

.shadow {
	box-shadow: 1px 1px 5px #888888
}

.shadow:hover {
	box-shadow: 3px 3px 5px #888888
}

.buttons {
	background-color: #f5f5f5;
	font-size: 12px;
	padding: 10px 12px;
	font-family: "Arial";
	border: none;
	border-radius: 3px;
	font-weight: bold;
	color: grey;
}

.buttons:hover {
	box-shadow: 1px 1px 2px #888888;
	border: 0.25px #d9d9d9;
}

#app img{
	width:25px;
	height:auto;
}

#app img:hover{
	filter: brightness(25%);
}

.container1 {
	padding-top: 40px;
	position: absolute;
	top: 170px;
	left: 30%;
}

.big {
	position: absolute;
	top: 200px;
	left: 33%;
}

a {
	opacity: .75;
	color: #282828;
	text-decoration: none;
	font-family: "Arial";
	font-size: small;
}

a:hover {
	text-decoration: underline;
}

#footer {
	font-size: medium;
	font-family: "Arial";
	background-color: #f5f5f5;
	position: fixed;
	line-height: 35px;
	bottom: 0;
	left: 0;
	width: 100%;
	border: 0.5px solid #d9d9d9;
}

#footer #rightie {
	float: right;
	width: 200px;
	display: flex;
	padding-right: 50px;
	justify-content: space-between;
}

#footer #leftie {
	padding-left: 50px;
	float: left;
	width: 200px;
	display: flex; 
	justify-content: space-between;
}

#signin {
	background-color: #4583ed;
	border:none;
	border-radius: 3px;
	color: white;
	padding: 8px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-family:"Arial";
	font-weight: bold;
}

.links {
	display: flex;
	align-items: center;
	justify-content: flex-end; 
}